.wrapper{
  height: 100%;
  margin: .3%;
  display: grid;
  grid-template-areas: 
  "upper upper upper"
  "lower lower lower"
;
}


.upperDiv{
  grid-area: upper;
  margin: 2px;
  border-radius: .8rem;
}


.formDiv{
    margin: 2px;
    border-radius: .8rem;
    background-color: #fff5;
    backdrop-filter: blur(7px);
}


/*  Lower Div*/
.lowerDiv{
  grid-area: lower;
  margin: 1%;
}

.tableDiv{
  width: 90vw;
  height: auto;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  border-radius: .8rem;
  width: 99%;
  margin: auto;
}
