table, th, td{
  border: 1px solid black;
  border-radius: 2px;
}

.patientName{
  width: 15%;
  text-align: center;
  font-size: 90%;
}

.depart{
  width: 15%;
  text-align: center;
  font-size: 90%;
}

.doc{
  width: 15%;
  text-align: center;
  font-size: 90%;
}

.sNumber{
  width: 5%;
  text-align: center;
}

.queueNo{
  width: 5%;
  text-align: center;
}

.opdId{
  width: 5%;
  text-align: center;
}

.UHID{
  width: 5%;
  text-align: center;
  font-size: 80%  ;
}

.type{
  width: 5%;
  text-align: center;
}

.fee{
  width: 5%;
  text-align: center;
}

.paymentMethod{
  width: 5%;
  text-align: center;
}

.process{
  width: 5%;
  text-align: center; 
}
/* <th className='sNumber'>S No.</th>
<th className='queueNo'>Queue</th>
<th className='opdId'>OPD ID</th>
<th className='UHID'>UHID</th>
<th className='patientName'>Patient Name</th>
<th className='depart'>Department</th>
<th className='doc'>Doctor</th>
<th className='type'>Type</th>
<th className='fee'>Fee</th>
<th className='paymentMethod'>Mode</th>
<th className='process'>Process</th> */