/* Table.css */

/* table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 12px ;
  border: 1px solid #ddd;
}

thead tr {
  background-color: #f2f2f2;
  color: #333;
  text-align: left;
  font-weight: bold;
  font-size: .9em;
}

tbody tr {
  border-bottom: 1px solid #ddd;
  font-size: .8em;
}

tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin-bottom: 15px;
  }

  td {
    padding: 10px;
    text-align: right;
    position: relative;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
} */


table, th, td{
  padding: .7em;
}
